td{
	font-size:11px;
	padding:10px;
}
.ui.card, .ui.cards>.card{
	border-radius: 0rem !important;
	-webkit-box-shadow: 0 0px 0px 0 #d4d4d5, 0 0 0 0px #d4d4d5 !important;
	box-shadow: 0 0px 0px 0 #d4d4d5, 0 0 0 0px #d4d4d5 !important;
}
.ui.card>:first-child, .ui.cards>.card>:first-child {
    border-radius: 0rem 0rem 0 0!important;
    border-top: none!important;
}
th{
	font-size:11px;
}
/* width */
.column::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.column::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
.column::-webkit-scrollbar-thumb {
  background: #ddd; 
}

/* Handle on hover */
.column::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}

.blink_FALLING {
    -webkit-animation: blink_FALLING 0.5s linear /*infinite*/;
} 
@-webkit-keyframes blink_FALLING {
    0% { background-color: red; }
/*    33% { background-color: yellow; }*/
/*    66% { background-color: blue; }*/
/*    100% { background-color: green; }*/
/*    from { background-color: red;}
    to {background-color: green;}  */
}
.blink_RISING {
    -webkit-animation: blink_RISING 0.5s linear /*infinite*/;
} 
@-webkit-keyframes blink_RISING {
    0% { background-color: blue; }
/*    33% { background-color: yellow; }*/
/*    66% { background-color: blue; }*/
/*    100% { background-color: green; }*/
/*    from { background-color: red;}
    to {background-color: green;}  */
}
.blink_UNCHANGED {
    -webkit-animation: blink_UNCHANGED 0.5s linear /*infinite*/;
} 
@-webkit-keyframes blink_UNCHANGED {
    0% { background-color: #ccc; }
/*    33% { background-color: yellow; }*/
/*    66% { background-color: blue; }*/
/*    100% { background-color: green; }*/
/*    from { background-color: red;}
    to {background-color: green;}  */
}
